body {
    font-family: 'Roboto', sans-serif;
    background-color: #5d6d7e;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #3498db, #f8f9fa);
}

h1 {
    color: #0f1e28;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

#weather {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}

#weather p {
    margin: 10px 0;
    color: #333;
}

.temperature {
    font-size: 24px;
    font-weight: bold;
}

.weather-description {
    font-style: italic;
}

